.charles-cantin-logo {
  width: 50%;
  height: 50%;
}

.navbar-toggler {
  border-style: unset;
}

.index {
  padding-top: 25vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

header {
  position: relative;
  background-color: #050304;
  
}


body {
  background-image: url(../uploads/wioson-jiang.png);
  background-size: cover;
}