---
layout: layout.njk
---
<h1>Voici ma page de contact</h1>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <form action="">
    <div>
      <label for="lastname">Nom</label>
      <input type="text" id="lastname" class="form-control">
    </div>

    <div>
      <label for="firstname">Prénfom</label>
      <input type="text" id="firstname" class="form-control">
    </div>

    <div>
      <label for="phone">Téléphone</label>
      <input type="tel" id="phone" class="form-control">
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control">
    </div>

    <div>
      <label for="message">Message</label>
      <textarea name="" id="message" cols="30" rows="3" class="form-control"></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    
  </div>
</form>
    </div>
  </div>
</div>


