---
layout: layout.njk
---

<div class="container-fluid m-2">
  <div class="row pb-5">
    <h1>Galerie photo</h1>
  </div>
  <div class="row row-cols-6">
    {%- for category in collections.gallery %}
    <div class="col">
      <div class="card">
        <a href="{{ category.url }}" class="text-decoration-none">
          <img src="{{ category.data.photo }}" class="card-img-top" alt="{{ category.data.description }}">
          <div class="card-body">
            <h3 class="card-title text-dark">{{ category.data.category }}</h3>
          </div>
        </a>
      </div>
    </div>
    {%- endfor %}
  </div>
</div>










        
        