---
layout: layout.njk
---
<h1>Voici ma gallerie photo</h1>
<div class="container-fluid">
  <div class="row row-cols-6">
    
      {%- for category in collections.gallery %}
      <div class="col">
        <a href="#"><h3>{{ category.data.category }}</h3></a> 
        <img src="{{ category.data.photo }}" class="img-fluid" alt="">
        </div>
      {%- endfor %}
  </div>
</div>



<h1>{{ category }}</h1>
<img src="{{ photo }}" alt="">

{%- for items in photos %}
<img src="{{ items }}" alt="">
{%- endfor %}




        
        