---
layout: layout.njk
---
<h1>Voici ma gallerie photo</h1>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="col">Mariage</div>
    <div class="col">Grossesse</div>
    <div class="col">Bébé</div>
    <div class="col">Famille</div>
    <div class="col">Couple</div>
    <div class="col">Portrait</div>
  </div>
</div>

