---
layout: layout.njk
---
<h1>Bienvenue sur mon site</h1>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-sm-12">Comment</div>
    <div class="col-3">Comment</div>
    <div class="col-3">Comment</div>
    <div class="col-3">Comment</div>
  </div>
</div>
<button type="button" class="btn btn-primary">Primary</button>

