---
layout: layout.njk
---

<div class="container index" >
    <div class="row text-center text-white" >
        <h1 style="font-size: 4rem">CHARLES CANTIN</h1>
        <h2>Photographe</h2>
    </div>
</div>

